#bubble_chart {
  font-family: sans-serif;
}

#bubble_chart .bubble-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bubble_chart .subtitle {
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 14px;
  color: gray;
}

#bubble_chart .bubble-controls {
  margin-bottom: 12px;
}

#bubble_chart .bubble-controls select {
  padding: 5px;
  margin-right: 15px;
}

#bubble_chart circle {
  opacity: 0.5; /* Increased transparency */
  stroke: black;
  stroke-width: 0.5px;
}
